<app-site-servico [titulo]="'Revisões previdenciárias'">
  <div texto>
    <div class="paragrafo">
      <p>Sabia que você pode ter o direito em aumentar o valor de sua aposentadoria?</p>

      <p>Centenas de benefícios são concedidas com erros todos os anos pelo INSS, seja por falha na análise do instituto, documentação não entregue na hora do requerimento ou mudanças na lei, onde estes erros levar a concessão de um benefício com valor inferior ao que o segurado tem direito. Para corrigi-los, é possível pedir uma revisão.</p>

      <p>Uma investigação feita pelo CNJ apontou problemas de coordenação do Instituto Nacional do Seguro Social (INSS), além do descompasso entre as perícias feitas pelo órgão e as realizadas pelo Judiciário, que estão entre os principais motivos que levam ao grande número de processos em tramitação.</p>

      <p>O estudo foi elaborado e publicado pelo Insper na 4ª Edição da Série Justiça Pesquisa, onde o tema Previdência Social e benefícios assistenciais é o mais judicializado em varas e tribunais federais, representando mais da metade dos novos casos ajuizados, sendo relevante também na justiça estadual, por competência delegada, bem como no Supremo Tribunal Federal (STF) e no Superior Tribunal de Justiça (STJ).</p>

      <p>O estudo informa que a quantidade de ações e o perfil da judicialização estão relacionados às condições econômicas locais, como nível de renda e desenvolvimento do mercado formal de trabalho, além da redução do quadro de pessoal técnico e de procuradores do INSS.</p>

      <p>A partir dos dados coletados, o relatório elenca, dentro outros, a dificuldade de acesso à via administrativa para requerer o benefício.</p>

      <p>
        Como resultado da análise das informações e das entrevistas, são indicadas 16 ações destinadas a resolver ou minimizar os reduzir a judicialização, entre elas: a) extinção do atendimento preferencial de advogados na instância administrativa;
        <br>b) acesso presencial às agências do INSS em regiões de maior exclusão digital; c) adoção de uma política de informação sobre o uso da plataforma “Meu INSS”;
        <br>d) acesso simplificação ao processo administrativo com ampla informação ao segurado;
        <br>e) transição para o processo digital com atenção à qualidade das análises e, por fim;
        <br>f) mais informações ao segurado sobre o andamento das análises administrativas.
      </p>

      <p>Entre em contato e obtenha maiores informações sobre a possibilidade de revisão de seu benefício previdenciário.</p>
    </div>
  </div>

  <div imagem>
    <app-servico-interna-imagem [imagem]="'revisoes-previdenciarias.png'"></app-servico-interna-imagem>
  </div>
</app-site-servico>
