.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--primary-1);
  padding: 0.5em 2em;
  color: var(--white);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.25em;

  &:hover {
    background-color: var(--green-1);
  }

  &:visited {
    color: var(--white);
  }
}

.btn-sm {
  font-size: 0.75em;
}

.btn-md {
  font-size: 1em;
}

.btn-lg {
  font-size: 1.25em;
  padding: 1em 1.5em;
}

.btn-primary {
  background-color: var(--primary-1);

  &:hover {
    background-color: var(--primary-2);
  }
}

.btn-secondary {
  background-color: var(--secondary-1);
  color: var(--white) !important;

  &:hover {
    background-color: var(--secondary-2);
  }
}

.btn-white {
  background-color: var(--white);
  color: var(--white);

  &:hover {
    background-color: var(--grey-5);
    color: var(--grey-1);
  }
}

.btn-outline {
  background-color: transparent;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--primary-1);
  color: var(--primary-1);

  &:hover {
    background-color: rgba(var(--black-rgb), 0.10);
  }
}

.btn-outline.btn-primary {
  border-color: var(--primary-1);
  color: var(--primary-1) !important;
}

.btn-outline.btn-secondary {
  border-color: var(--secondary-1);
  color: var(--secondary-1) !important;
}

.btn-outline.btn-white {
  border-color: var(--white);
  color: var(--white) !important;
}

.btn-outline.btn-gray {
  border-color: var(--gray-2);
  color: var(--gray-2) !important;
}
