@font-face {
  font-family: 'SairaExtraCondensed';
  src: url('./fonts/Saira_Extra_Condensed/SairaExtraCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SairaExtraCondensed-Bold';
  src: url('./fonts/Saira_Extra_Condensed/SairaExtraCondensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  #site,
  #auth {
    // colors
    --primary-1: #F58253;
    --primary-2: #FFA37D;
    --primary-3: #FFC2A9;
    --primary-4: #FFE0D3;

    --primary-rgb-1: 245, 130, 83;
    --primary-rgb-2: 255, 163, 125;
    --primary-rgb-3: 255, 194, 169;
    --primary-rgb-4: 255, 224, 211;

    --secondary-1: #20517E;
    --secondary-2: #3B6993;
    --secondary-3: #749BBE;

    --secondary-rgb-1: 32, 81, 126;
    --secondary-rgb-2: 59, 105, 147;
    --secondary-rgb-3: 116, 155, 190;

    --grey-1: #222222;
    --grey-2: #666666;
    --grey-3: #999999;
    --grey-4: #CCCCCC;
    --grey-5: #F0F0F0;

    --grey-rgb-1: 34, 34, 34;
    --grey-rgb-2: 102, 102, 102;
    --grey-rgb-3: 153, 153, 153;
    --grey-rgb-4: 204, 204, 204;
    --grey-rgb-5: 240, 240, 240;

    --black: #000000;
    --white: #ffffff;

    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;

    // fonts
    --font-family: 'SairaExtraCondensed', sans-serif;
  }
}
