h2 {
  margin: 1em 0;
  color: var(--grey-3) !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  img {
    display: inline-block !important;
  }

  div {
    text-align: center;
  }
}
