<div id="site">

  <div class="flex">
    <div>
      <img src="assets/site/logo-secondary.svg" alt="{{ APP_CONFIG.nome }}">

      <h2>Página não encontrada!</h2>

      <button (click)="voltar()" type="button" class="btn btn-outline btn-primary">Voltar</button>
    </div>
  </div>

</div>
