@import '../../../../../styles/scss/break-points';

.imagem {
  margin: 0 auto 1em auto;
  border-radius: 20px;
}

.paragrafo {
  text-align: center;
}

@media (min-width: $md) {
  .flex {
    display: flex;
    flex-direction: row-reverse;
  }

  .flex-imagem {
    flex: 1;
  }

  .flex-paragrafo {
    flex: 2;
    margin-right: 2em;
  }
}
