<form [formGroup]="form">
  <div class="po-row">
    <div class="po-sm-12">
      <po-email
        formControlName="email"
        p-clean="true"
        p-auto-focus="true"
        p-placeholder="E-mail"
        p-error-pattern="Informe um e-mail válido">
      </po-email>
    </div>
  </div>
</form>
