<div class="po-row">
  <div class="po-sm-12">
    <h2>{{ pageTitle }}</h2>
  </div>
</div>

<app-usuario-form-cadastro #form></app-usuario-form-cadastro>

<div class="po-row">
  <div class="po-sm-12 po-text-center po-mt-3">
    <button type="submit" class="btn btn-primary btn-outline" (click)="onSubmit()">
      Enviar
    </button>
  </div>
</div>

<nav class="links">
  <ul>
    <li>
      <a routerLink="{{ AUTH_CONFIG.pathFront }}/login">Voltar ao login</a>
    </li>
    <li>|</li>
    <li>
      <a routerLink="{{ SITE_CONFIG.pathFront }}">Voltar ao site</a>
    </li>
  </ul>
</nav>
