<form [formGroup]="form">
  <div class="po-row">
    <div class="po-sm-12">
      <po-input
        formControlName="login"
        p-clean="true"
        p-icon="po-icon-user"
        p-auto-focus="true"
        p-placeholder="Login ou E-mail"
        p-minlength="2"
        p-error-pattern="Informe no mínimo 2 caracteres">
      </po-input>
    </div>
    <div class="po-sm-12">
      <po-password
        formControlName="password"
        p-clean="true"
        p-icon="po-icon-lock"
        p-placeholder="Senha"
        p-minlength="8"
        p-error-pattern="Informe no mínimo 8 caracteres">
      </po-password>
    </div>
  </div>
</form>
