/**
 * @theme: Previdência Ideal
 **/

/**
 * CONTENTS
 *
 * COMMONS
 * Common......................configurações.
 * Color.......................variáveis globais de cores.
 * Color Palette...............variáveis da peleta de cores.
 * Font........................variáveis de fontes.
 *
 * COMPONENTS
 * Accordion...................variáveis do Accordion.
 * Avatar......................variáveis do Avatar.
 * Button......................variáveis do Button.
 * Badge.......................variáveis do Badge.
 * Breadcrumb..................variáveis do Breadcrumb.
 * Button Group................variáveis do Button Group.
 * Calendar....................variáveis do Calendar.
 * Chart.......................variáveis do Chart.
 * Checkbox....................variáveis do Checkbox.
 * Checkbox Group..............variáveis do Checkbox Group.
 * Combo.......................variáveis do Combo.
 * Container...................variáveis do Container.
 * Datepicker Range............variáveis do Datepicker Range.
 * Disclaimer..................variáveis do Disclaimer.
 * Disclaimer Group............variáveis do Disclaimer Group.
 * Divider.....................variáveis do Divider.
 * Dropdown....................variáveis do Dropdown.
 * Field Container.............variáveis do Field Container.
 * Field Container Bottom......variáveis do Field Container Bottom.
 * Field Icon..................variáveis do Field Icon.
 * Gauge.......................variáveis do Gauge.
 * Info........................variáveis do Info.
 * Input.......................variáveis do Input.
 * List View...................variáveis do List View.
 * Loading.....................variáveis do Loading.
 * Loading Overlay.............variáveis do Loading Overlay.
 * Lookup......................variáveis do Lookup.
 * Menu........................variáveis do Menu.
 * Menu Filter.................variáveis do Menu Filter.
 * Menu Panel..................variáveis do Menu Panel.
 * Modal.......................variáveis do Modal.
 * Modal Password Recovery.....variáveis do Modal Password Recovery.
 * Multiselect.................variáveis do Multiselect.
 * Navbar......................variáveis do Navbar.
 * Navbar Action...............variáveis do Navbar Action.
 * Navbar Action Popup.........variáveis do Navbar Action Popup.
 * Navbar Item.................variáveis do Navbar Item.
 * Navbar Item Navigation......variáveis do Navbar Item Navigation.
 * Page........................variáveis do Page.
 * Page Background.............variáveis do Page Background.
 * Page Blocked User...........variáveis do Page Blocked User.
 * Page Change Password........variáveis do Page Change Password.
 * Page Content................variáveis do Page Content.
 * Page Header................ variáveis do Page Header.
 * Page List...................variáveis do Page List.
 * Page Login..................variáveis do Page Login.
 * Popover.....................variáveis do Popover.
 * Popup.......................variáveis do Popup.
 * Radio Group.................variáveis do Radio Group.
 * Rich Text...................variáveis do Rich Text.
 * Select......................variáveis do Select.
 * Slide.......................variáveis do Slide.
 * Stepper.....................variáveis do Stepper.
 * Switch......................variáveis do Switch.
 * Tab Button..................variáveis do Tab Button.
 * Tab Dropdown................variáveis do Tab Dropdown.
 * Table.......................variáveis do Table.
 * Table Column Link...........variáveis do Table Column Link.
 * Tag.........................variáveis do Tag.
 * Textarea....................variáveis do Textarea.
 * Toolbar.....................variáveis do Toolbar.
 * Tooltip.....................variáveis do Tooltip.
 * Upload......................variáveis do Upload.
 * Widget......................variáveis do Widget.
 */

/*------------------------------------*\
  COMMONS
\*------------------------------------*/

/*------------------------------------*\
  COMMON
\*------------------------------------*/

:root {
  --color-wrapper-menu-panel-color-background: var(--color-white);
  --color-overlay-background-color-overlay: var(--color-secondary-dark-60-alpha-70);

  --color-hr-border-top: var(--color-neutral-light-90);
}

/*------------------------------------*\
  COLOR
\*------------------------------------*/

:root {
  /* Cor do background da linha da tabela */
  --color-primary-light-95: #f8e9e4;

  /* Borda inferior da Table Header */
  --color-primary-light-80: #f0d5cb;

  /* Scroll (opacidade de 50%) */
  --color-primary-alpha-50: rgba(245, 130, 83, 0.5);

  /* Botão primário, Links, Cor da borda do input selecionado, Cor da borda do botão secundário */
  --color-primary: #f58253;

  /* Hover do Botão primário, Links, Cor da borda do botão secundário */
  --color-primary-dark-20: #da693c;

  /* Pressed do Botão primário, Links, Cor da borda do botão secundário */
  --color-primary-dark-40: #b85129;

  /* Secondary */
  --color-secondary: #20517E;

  --color-secondary-dark-20: #163e64;

  --color-secondary-dark-40: #0e2a44;

  /* Overlay de Modal e Menu (70% de opacidade) */
  --color-secondary-dark-60-alpha-70: rgba(13, 43, 71, 0.7);

  --color-secondary-dark-60: #0d2b47;

  /* Tertiary */

  /* Cor do background da linha de arquivo em carregamento (Upload) */
  --color-tertiary-light-90: #eaf7f9;

  /* Borda esquerda do menu lateral selecionado, Tab selecionada, Card em destaque */
  --color-tertiary: #20517E;

  /* Cor de gráficos, botão do disclaimer */
  --color-tertiary-dark-5: #26acba;

  --color-tertiary-dark-40: #186d76;

  --color-tertiary-dark-60: #10484e;

  --color-white: #ffffff;

  --color-white-alpha-30: rgba(255, 255, 255, 0.3);

  /* Background da página, Background da linha selecionada */
  --color-neutral-light-98: #fbfbfb;

  /* Borda inferior de item de tabela, Base do Slider, Background do Input inativo */
  --color-neutral-light-90: #eceeee;

  /* Step inativo, Base Switch desligado */
  --color-neutral-light-80: #dadedf;

  /* Ícone desabilitado, Slider desabilitado, Borda de input */
  --color-neutral-light-60: #b6bdbf;

  /* Texto do Placeholder */
  --color-neutral-light-40: #9da7a9;

  /* Borda superior do itens do menu (45% de opacidade) */
  --color-neutral-alpha-45: rgba(74, 92, 96, 0.45);

  /* Background do Feedback, Pill de informação */
  --color-neutral: #20517E;

  /* Usar em menu: Área do logo, Background do menu */
  --color-neutral-dark-40: #181e24;

  /* Texto */
  --color-neutral-dark-60: #101316;

  /* Usar em sombras (10% de opacidade) */
  --color-black-alpha-10: rgba(0, 0, 0, 0.1);

  /* Usar em menu: Hover - Background de item de menu (15% de opacidade) */
  --color-black-alpha-15: rgba(0, 0, 0, 0.15);

  /* Usar em menu: Background dos itens de segundo nível (30% de opacidade) */
  --color-black-alpha-30: rgba(0, 0, 0, 0.3);

  --color-black: #000000;

  /* Background do Feedback de sucesso */
  --color-success: #11945d;

  /* Background do Feedback de atenção */
  --color-warning: #dba32a;

  --color-danger-light-40: #daa5a1;

  /* Background do Feedback de erro, Borda de Input com erro */
  --color-danger: #b43b33;

  /* Background disclaimer danger */
  --color-danger-dark-5: #a33129;

  /* Hover para botão danger */
  --color-danger-dark-20: #9b2f27;

  /* Estilo ativo para botão danger */
  --color-danger-dark-40: #701d17;

  --color-transparent: transparent;

/*------------------------------------*\
  COLOR-PALETTE
\*------------------------------------*/

  /* Cores que podem ser utilizadas na coluna de labels, legenda e cor de icones do componente table, também utilizadas na tag e badge */
  --color-01: #0c9abe;
  --color-02: #2c85c8;
  --color-03: #2c43c8;
  --color-04: #5843c8;
  --color-05: #ab43c8;
  --color-06: #ab4391;
  --color-07: #c64840;
  --color-08: #ea9b3e;
  --color-09: #abc249;
  --color-10: #56b96b;
  --color-11: #00b28e;
  --color-12: #06a6a5;

/*------------------------------------*\
  FONT
\*------------------------------------*/

  /**
   * Variáveis para definições de fontes. O THF utiliza as variantes *extra light*, *regular* e *bold* em seus componentes e, para cada uma delas,
   * é atribuído um @font-face específico. Os nomes elencados no `font-family` no @font-face devem ser os mesmos atribuídos como valor para as variáveis.
   */
  --font-family-theme: NunitoSans;
  --font-family-theme-bold: NunitoSans-Bold;
  --font-family-theme-extra-light: NunitoSans-ExtraLight;

}

@font-face {
  font-family: 'NunitoSans';
  src: url('./fonts/Nunito_Sans/NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url('./fonts/Nunito_Sans/NunitoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans-ExtraLight';
  src: url('./fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

/*------------------------------------*\
  COMPONENTS
\*------------------------------------*/
:root {
/*------------------------------------*\
  ACCORDION
\*------------------------------------*/

/**
 * Accordion Item
 */
  --color-accordion-item-border-color: var(--color-neutral-light-90);

/**
* Accordion Item Header
*/
  --color-accordion-header-button-background-color: var(--color-white);
  --color-accordion-header-color-primary: var(--color-primary);
  --color-accordion-header-color-hover: var(--color-secondary);

/**
* Accordion Item Header Button
*/
  --color-accordion-item-header-button-background-color: var(--color-transparent);
  --color-accordion-item-header-button-focus: var(--color-secondary);

/**
* Accordion Item Body
*/
  --color-accordion-item-body-color: var(--color-neutral);

/*------------------------------------*\
  AVATAR
\*------------------------------------*/

  --color-avatar-background-color-avatar: var(--color-neutral);

/*------------------------------------*\
  BUTTON
\*------------------------------------*/

/**
 * Button Default
 */
  --color-button-background-color: var(--color-transparent);
  --color-button-border: var(--color-primary);
  --color-button-color: var(--color-primary);

  --color-button-background-color-hover: var(--color-transparent);
  --color-button-border-hover: var(--color-primary-dark-20);
  --color-button-color-hover: var(--color-primary-dark-20);

  --color-button-background-color-pressed: var(--color-transparent);
  --color-button-border-pressed: var(--color-primary-dark-40);
  --color-button-color-pressed: var(--color-primary-dark-40);

  --color-button-background-color-disabled: var(--color-transparent);
  --color-button-border-disabled: var(--color-neutral-light-60);
  --color-button-color-disabled: var(--color-neutral-light-60);
/**
 * Button Primary
 */
  --color-button-background-color-primary: var(--color-primary);
  --color-button-border-primary: var(--color-primary);
  --color-button-color-primary: var(--color-white);

  --color-button-background-color-primary-hover: var(--color-primary-dark-20);
  --color-button-border-primary-hover: var(--color-primary-dark-20);
  --color-button-color-primary-hover: var(--color-white);

  --color-button-background-color-primary-pressed: var(--color-primary-dark-40);
  --color-button-border-primary-pressed: var(--color-primary-dark-40);
  --color-button-color-primary-pressed: var(--color-white);

  --color-button-background-color-primary-disabled: var(--color-neutral-light-60);
  --color-button-border-primary-disabled: var(--color-neutral-light-60);
  --color-button-color-primary-disabled: var(--color-white);
/**
 * Button Danger
 */
  --color-button-background-color-danger: var(--color-transparent);
  --color-button-border-danger: var(--color-danger);
  --color-button-color-danger: var(--color-danger);

  --color-button-background-color-danger-hover: var(--color-transparent);
  --color-button-border-danger-hover: var(--color-danger-dark-20);
  --color-button-color-danger-hover: var(--color-danger-dark-20);

  --color-button-background-color-danger-pressed: var(--color-transparent);
  --color-button-border-danger-pressed: var(--color-danger-dark-40);
  --color-button-color-danger-pressed: var(--color-danger-dark-40);

  --color-button-background-color-danger-disabled: var(--color-transparent);
  --color-button-border-danger-disabled: var(--color-neutral-light-60);
  --color-button-color-danger-disabled: var(--color-neutral-light-60);
/**
 * Button Link
 */
  --color-button-background-color-link: var(--color-transparent);
  --color-button-color-link: var(--color-primary);

  --color-button-background-color-link-hover: var(--color-transparent);
  --color-button-color-link-hover: var(--color-primary-dark-20);

  --color-button-background-color-link-pressed: var(--color-transparent);
  --color-button-color-link-pressed: var(--color-primary-dark-40);

  --color-button-background-color-link-disabled: var(--color-transparent);
  --color-button-color-link-disabled: var(--color-neutral-light-60);

/*------------------------------------*\
  BADGE
\*------------------------------------*/

  --color-badge-color: var(--color-white);

/*------------------------------------*\
  BREADCRUMB
\*------------------------------------*/

/**
 * Breadcrumb
 */
  --color-breadcrumb-background-color-container: var(--color-white);
  --color-breadcrumb-border-color-container: var(--color-neutral-light-90);

  --color-breadcrumb-color-item: var(--color-primary);
  --color-breadcrumb-color-item-link-hover: var(--color-primary-dark-40);
  --color-breadcrumb-color-item-unclickable: var(--color-neutral);
  --color-breadcrumb-color-star-active: var(--color-warning);
/**
 * Breadcrumb Dropdown
 */
  --color-breadcrumb-background-color-dropdown: var(--color-white);
  --color-breadcrumb-background-color-dropdown-item-hover: var(--color-primary-light-95);

/*------------------------------------*\
  BUTTON GROUP
\*------------------------------------*/

  --color-button-group-border-button: var(--color-primary);
  --color-button-group-border-button-disabled: var(--color-neutral-light-60);

  --color-button-group-background-selected: var(--color-neutral);
  --color-button-group-border-selected: var(--color-neutral);
  --color-button-group-color-selected: var(--color-white);

  --color-button-group-background-color-neutral-hover: var(--color-neutral-dark-40);
  --color-button-group-border-button-hover: var(--color-button-border-primary-hover);
  --color-button-group-border-neutral-hover: var(--color-neutral-dark-40);
  --color-button-group-color-neutral-hover: var(--color-white);

  --color-button-group-background-color-neutral-pressed: var(--color-neutral-dark-60);
  --color-button-group-border-neutral-pressed: var(--color-neutral-dark-60);
  --color-button-group-color-neutral-pressed: var(--color-white);

  --color-button-group-background-color-neutral-disabled: var(--color-neutral-light-60);
  --color-button-group-border-neutral-disabled: var(--color-neutral-light-60);
  --color-button-group-color-neutral-disabled: var(--color-white);

/*------------------------------------*\
  CALENDAR
\*------------------------------------*/

  --color-calendar-background-color: var(--color-white);
  --color-calendar-arrow: var(--color-primary);
  --color-calendar-title: var(--color-primary);
  --color-calender-color-content-label: var(--color-neutral-light-40);

  --color-calendar-background-color-box-background-normal: var(--color-transparent);
  --color-calendar-background-color-box-background-hover: var(--color-neutral-light-80);
  --color-calendar-background-color-box-background-disabled: var(--color-neutral-light-60);
  --color-calendar-background-color-box-background-active: var(--color-tertiary);
  --color-calendar-background-color-mobile-overlay: var(--color-secondary-dark-60-alpha-70);
  --color-calendar-text-box-background-active: var(--color-white);

  --color-calendar-background-color-box-background-selected: var(--color-tertiary);
  --color-calendar-background-color-box-background-today: var(--color-primary-light-80);
  --color-calendar-background-color-box-background-today-hover: var(--color-neutral-light-80);

  --color-calendar-color-box-foreground: var(--color-neutral);
  --color-calendar-color-box-foreground-selected: var(--color-white);
  --color-calendar-color-box-foreground-today: var(--color-primary);
  --color-calendar-color-box-foreground-disabled: var(--color-neutral-light-80);

/*------------------------------------*\
  CHART
\*------------------------------------*/

  --color-chart-background-color: var(--color-white);
  --color-chart-legend-wrapper-scrollbar: var(--color-primary-alpha-50);
  --color-chart-axis-stroke: var(--color-neutral-light-80);
  --color-chart-legend-text: var(--color-neutral);
  --color-chart-axis-label-text: var(--color-neutral-dark-60);

  /**
   * Chart Types
   */
  --color-chart-gauge-base-path-color: var(--color-neutral-light-80);
  --color-chart-gauge-text-content-focus: var(--color-secondary);
  --color-chart-gauge-text-description-color: var(--color-neutral);

  --color-chart-line-point-fill: var(--color-white);

/*------------------------------------*\
  CHECKBOX
\*------------------------------------*/

--color-checkbox-background-color: var(--color-white);
--color-checkbox-background-color-active: var(--color-primary);
--color-checkbox-background-color-disabled: var(--color-neutral-light-90);
--color-checkbox-background-color-icon-disabled: var(--color-neutral-light-60);
--color-checkbox-box-shadow-color-focusable: var(--color-primary-dark-20);

--color-checkbox-border-input: var(--color-neutral-light-60);
--color-checkbox-border-input-active: var(--color-primary);
--color-checkbox-border-input-disabled: var(--color-neutral-light-60);
--color-checkbox-border-input-invalid: var(--color-danger);

--color-checkbox-color-active: var(--color-white);

/*------------------------------------*\
  CHECKBOX GROUP
\*------------------------------------*/

  --color-checkbox-group-background-color: var(--color-white);
  --color-checkbox-group-background-color-active: var(--color-primary);
  --color-checkbox-group-background-color-disabled: var(--color-neutral-light-90);
  --color-checkbox-group-background-color-icon-disabled: var(--color-neutral-light-60);
  --color-checkbox-group-box-shadow-color-focusable: var(--color-primary-dark-20);

  --color-checkbox-group-border-input: var(--color-neutral-light-60);
  --color-checkbox-group-border-input-active: var(--color-primary);
  --color-checkbox-group-border-input-disabled: var(--color-neutral-light-60);
  --color-checkbox-group-border-input-invalid: var(--color-danger);

  --color-checkbox-group-color-active: var(--color-white);

/*------------------------------------*\
  COMBO
\*------------------------------------*/

  --color-combo-background-color: var(--color-white);

  --color-combo-background-color-item-hover: var(--color-primary-light-95);
  --color-combo-background-color-scrollbar: var(--color-primary-alpha-50);

  --color-combo-border-button-error: var(--color-danger);

  --color-combo-background-color-group-title: var(--color-neutral-light-98);
  --color-combo-color-group-title: var(--color-neutral-dark-60);
  --color-combo-color-primary: var(--color-primary);
  --color-combo-color-selected: var(--color-white);
  --color-combo-background-color-selected-primary: var(--color-primary);

/*------------------------------------*\
  CONTAINER
\*------------------------------------*/

  --color-container-color-shadow: var(--color-neutral-light-90);
  --color-container-background-color-scrollbar: var(--color-primary);

/*------------------------------------*\
  DATEPICKER RANGE
\*------------------------------------*/

  --color-datepicker-range-background-color-disabled: var(--color-neutral-light-90);
  --color-datepicker-range-border-text: var(--color-neutral-light-60);
  --color-datepicker-range-border-text-error: var(--color-danger);
  --color-datepicker-range-color-disabled: var(--color-neutral-light-60);
  --color-datepicker-range-color-focused: var(--color-primary);
  --color-datepicker-range-color-text-error: var(--color-danger);

/*------------------------------------*\
  DISCLAIMER
\*------------------------------------*/

  --color-disclaimer-background-color-label: var(--color-tertiary);
  --color-disclaimer-background-color-label-danger: var(--color-danger);

  --color-disclaimer-color-text: var(--color-white);
  --color-disclaimer-color-text-danger: var(--color-white);

  --color-disclaimer-background-color-remove: var(--color-tertiary-dark-5);
  --color-disclaimer-background-color-danger-remove: var(--color-danger-dark-5);

/*------------------------------------*\
  DISCLAIMER GROUP
\*------------------------------------*/

  --color-disclaimer-group-background-color: var(--color-white);
  --color-disclaimer-group-border-color: var(--color-neutral-light-90);
  --color-disclaimer-group-font-title: var(--color-neutral);

/*------------------------------------*\
  DIVIDER
\*------------------------------------*/

  --color-divider-label-color: var(--color-tertiary);
  --color-divider-line-color: var(--color-neutral-light-90);

/*------------------------------------*\
  DROPDOWN
\*------------------------------------*/

  --color-dropdown-button-background-color: var(--color-transparent);
  --color-dropdown-button-color: var(--color-primary);
  --color-dropdown-button-border-color: var(--color-primary);

  --color-dropdown-button-color-hover: var(--color-primary-dark-20);
  --color-dropdown-button-border-color-hover: var(--color-primary-dark-20);

  --color-dropdown-button-color-disabled: var(--color-neutral-light-60);
  --color-dropdown-button-border-color-disabled: var(--color-neutral-light-60);

/*------------------------------------*\
  FIELD CONTAINER
\*------------------------------------*/

  --color-field-container-color-title: var(--color-neutral);
  --color-field-container-color-opcional: var(--color-neutral);
  --color-field-container-color-help: var(--color-neutral);

/*------------------------------------*\
  FIELD CONTAINER BOTTOM
\*------------------------------------*/

  --color-field-container-bottom-color-text: var(--color-black);
  --color-field-container-bottom-color-text-error: var(--color-danger);

/*------------------------------------*\
  FIELD ICON
\*------------------------------------*/

  --color-field-icon-color: var(--color-primary);
  --color-field-icon-color-error: var(--color-danger);
  --color-field-icon-color-disabled: var(--color-neutral-light-60);

/*------------------------------------*\
  GAUGE
\*------------------------------------*/

  --color-gauge-base-color: var(--color-neutral-light-80);
  --color-gauge-description-text-color: var(--color-neutral);
  --color-gauge-description-bottom-focus: var(--color-secondary);
  --color-gauge-legend-scrollbar: var(--color-primary-alpha-50);
  --color-gauge-legend-text: var(--color-neutral);
  --color-gauge-pointer-color: var(--color-neutral);


/*------------------------------------*\
  INFO
\*------------------------------------*/

  --color-info-color-text-label: var(--color-neutral);
  --color-info-color-text-value: var(--color-neutral-dark-60);

  --color-info-color-link: var(--color-primary);
  --color-info-color-link-hover: var(--color-primary-dark-20);
  --color-info-color-link-pressed: var(--color-primary-dark-40);

/*------------------------------------*\
  INPUT
\*------------------------------------*/

  --color-input-background-color-text: var(--color-white);
  --color-input-border-text: var(--color-neutral-light-60);
  --color-input-border-text-disabled: var(--color-neutral-light-90);
  --color-input-border-text-focusable: var(--color-primary);
  --color-input-border-text-error: var(--color-danger);
  --color-input-color-disabled: var(--color-neutral-light-60);
  --color-input-text-error: var(--color-danger);
  --color-input-text-placeholder: var(--color-neutral-light-40);

/*------------------------------------*\
  LIST VIEW
\*------------------------------------*/

  --color-list-view-background-color: var(--color-white);
  --color-list-view-border: var(--color-neutral-light-90);
  --color-list-view-color-primary: var(--color-primary);
  --color-list-view-color-primary-hover: var(--color-primary-dark-20);
  --color-list-view-color-select-all-label: var(--color-neutral);

/*------------------------------------*\
  LOADING
\*------------------------------------*/

  --color-loading-color-label: var(--color-neutral);
  --color-loading-icon-color-neutral: var(--color-neutral-light-80);
  --color-loading-icon-color-primary: var(--color-primary);

/*------------------------------------*\
  LOADING OVERLAY
\*------------------------------------*/

  --color-loading-overlay-background-color-content: var(--color-white);
  --color-loading-overlay-box-shadow-content: var(--color-black-alpha-30);

/*------------------------------------*\
  LOOKUP
\*------------------------------------*/

  --color-lookup-search-background-color-text: var(--color-white);
  --color-lookup-search-border-text: var(--color-neutral-light-60);
  --color-lookup-search-border-text-focusable: var(--color-primary);
  --color-lookup-advanced-search-link-color-text: var(--color-primary);

/*------------------------------------*\
  MENU
\*------------------------------------*/

  --color-menu-color-menu-collapse-icon: var(--color-primary);
  --color-menu-color-menu-item-text: var(--color-primary);
  --color-menu-color-menu-item-selected: var(--color-white);
  --color-menu-color-menu-sub-item-text: var(--color-primary);
  --color-menu-color-menu-sub-item-selected: var(--color-white);
  --color-menu-color-menu-responsive: var(--color-primary);

  --color-menu-background-color-item-grouper-up-hover: var(--color-black-alpha-15);
  --color-menu-background-color-item-hover: var(--color-black-alpha-15);
  --color-menu-background-color-item-selected: var(--color-black-alpha-30);
  --color-menu-background-color-menu: var(--color-neutral-dark-40);
  --color-menu-background-color-menu-responsive-overlay: var(--color-secondary-dark-60-alpha-70);
  --color-menu-background-color-responsive: var(--color-neutral-light-98);
  --color-menu-background-color-sub-items: var(--color-black-alpha-15);
  --color-menu-background-color-sub-item-selected: var(--color-black-alpha-30);

  --color-menu-border-color-menu-item-selected: var(--color-tertiary);
  --color-menu-border-left-item: var(--color-transparent);
  --color-menu-border-top-item-grouper-up-hover: var(--color-neutral-alpha-45);
  --color-menu-border-top-logo: var(--color-neutral-alpha-45);
  --color-menu-border-top-collapse-button: var(--color-neutral-alpha-45);

/*------------------------------------*\
  MENU FILTER
\*------------------------------------*/

  --color-menu-filter-color-icon: var(--color-primary);
  --color-menu-filter-color-text: var(--color-white);

  --color-menu-filter-background-color: var(--color-black-alpha-30);

  --color-menu-filter-border: var(--color-neutral-alpha-45);
  --color-menu-filter-border-focusable: var(--color-neutral);

/*------------------------------------*\
  MENU PANEL
\*------------------------------------*/

  --color-menu-panel-background-color-item-hover: var(--color-black-alpha-15);
  --color-menu-panel-background-color-item-selected: var(--color-black-alpha-30);
  --color-menu-panel-background-color-menu: var(--color-neutral-dark-40);

  --color-menu-panel-border-top-logo: var(--color-neutral-alpha-45);

  --color-menu-panel-color-menu-item-text: var(--color-primary);
  --color-menu-panel-color-menu-item-selected: var(--color-white);

/*------------------------------------*\
  MODAL
\*------------------------------------*/

  --color-modal-text-color-body: var(--color-neutral-dark-60);
  --color-modal-background-color-content: var(--color-white);
  --color-modal-background-color-footer: var(--color-white);
  --color-modal-background-color-scrollbar: var(--color-primary);
  --color-modal-color-overlay: var(--color-secondary-dark-60-alpha-70);
  --color-modal-color-title: var(--color-neutral);
  --color-modal-color-header-close-button: var(--color-primary);

/*------------------------------------*\
  MODAL PASSWORD RECOVERY
\*------------------------------------*/

  --color-modal-password-recovery-link-color: var(--color-primary);
  --color-modal-password-recovery-link-color-hover: var(--color-primary-dark-20);
  --color-modal-password-recovery-text-color: var(--color-neutral);

/*------------------------------------*\
  MULTISELECT
\*------------------------------------*/

  --color-multiselect-background-color: var(--color-white);
  --color-multiselect-background-color-item-hover: var(--color-primary-light-95);
  --color-multiselect-background-color-scrollbar: var(--color-primary-alpha-50);

  --color-multiselect-border-field: var(--color-neutral-light-60);
  --color-multiselect-border-field-error: var(--color-danger);
  --color-multiselect-border-field-focus: var(--color-primary);
  --color-multiselect-border-search: var(--color-neutral-light-80);

  --color-multiselect-color-field-focus: var(--color-primary);

  --color-multiselect-color-primary: var(--color-primary);
  --color-multiselect-color-text-error: var(--color-danger);
  --color-multiselect-color-text-disabled: var(--color-primary);

  --color-multiselect-background-color-checkbox: var(--color-white);
  --color-multiselect-background-color-checkbox-active: var(--color-primary);
  --color-multiselect-background-color-checkbox-disabled: var(--color-neutral-light-90);
  --color-multiselect-background-color-checkbox-icon-disabled: var(--color-neutral-light-60);

  --color-multiselect-border-checkbox-input: var(--color-neutral-light-60);
  --color-multiselect-border-checkbox-input-active: var(--color-primary);
  --color-multiselect-border-checkbox-input-disabled: var(--color-neutral-light-60);

  --color-multiselect-color-checkbox-active: var(--color-white);

  --color-multiselect-disclaimer-background-color-disabled: var(--color-neutral-light-60);

/*------------------------------------*\
  NAVBAR
\*------------------------------------*/

  --color-navbar-color: var(--color-white);

/*------------------------------------*\
  NAVBAR ACTION
\*------------------------------------*/

  --color-navbar-action-color-content: var(--color-primary);

/*------------------------------------*\
  NAVBAR ACTION POPUP
\*------------------------------------*/

  --color-navbar-action-popup-color-content: var(--color-navbar-action-color-content);

/*------------------------------------*\
  NAVBAR ITEM
\*------------------------------------*/

  --color-navbar-item-color: var(--color-primary);
  --color-navbar-item-color-selected: var(--color-neutral);
  --color-navbar-item-color-shadow-selected: var(--color-primary);

/*------------------------------------*\
  NAVBAR ITEM NAVIGATION
\*------------------------------------*/

  --color-navbar-item-navigation-color-icon: var(--color-primary);
  --color-navbar-item-navigation-color-icon-disabled: var(--color-neutral-light-80);

/*------------------------------------*\
  PAGE
\*------------------------------------*/

  --color-page-background-color-page: var(--color-neutral-light-98);

/*------------------------------------*\
  PAGE BACKGROUND
\*------------------------------------*/

  --color-page-background-select-item-border-color: var(--color-neutral-light-90);

/*------------------------------------*\
  PAGE BLOCKED USER
\*------------------------------------*/

  --color-page-blocked-user-link-color: var(--color-primary);
  --color-page-blocked-user-link-color-hover: var(--color-primary-dark-20);
  --color-page-blocked-user-text-color: var(--color-neutral);
  --color-page--blocked-user-background-color: var(--color-neutral-light-98);

/*------------------------------------*\
  PAGE CHANGE PASSWORD
\*------------------------------------*/

  --color-page-change-password-background-color-buttons: var(--color-neutral-light-98);
  --color-page-change-password-background-color-container: var(--color-white);
  --color-page-change-password-background-color-secondary-logo: var(--color-neutral-light-98);
  --color-page-change-password-color-link: var(--color-primary);
  --color-page-change-password-color-text: var(--color-neutral);
  --color-page-change-password-color-required: var(--color-neutral);
  --color-page-change-password-color-required-ok: var(--color-success);
  --color-page-change-password-color-required-minus: var(--color-black-alpha-30);
  --color-page-change-password-color-required-text: var(--color-secondary-dark-60-alpha-70);

/*------------------------------------*\
  PAGE CONTENT
\*------------------------------------*/

  --color-page-content-background-color-scrollbar: var(--color-primary);

/*------------------------------------*\
  PAGE HEADER
\*------------------------------------*/

  --color-page-header-color-title: var(--color-neutral);

/*------------------------------------*\
  PAGE LIST
\*------------------------------------*/

  --color-page-list-color-link-text: var(--color-primary);

/*------------------------------------*\
  PAGE LOGIN
\*------------------------------------*/

  --color-page-login-header-product-name-color: var(--color-neutral);
  --color-page-login-header-welcome-color: var(--color-tertiary);
  --color-page-login-background-color: var(--color-neutral-light-98);
  --color-page-login-background-highlight-image: var(--color-neutral-light-90);
  --color-page-login-highlight-text-color: var(--color-white);
  --color-page-login-link-color: var(--color-primary);
  --color-page-login-link-hover-color: var(--color-primary-dark-20);
  --color-page-login-popover-color-attempts: var(--color-primary);
  --color-page-login-popover-color-title: var(--color-tertiary);
  --color-page-login-support-background-color: var(--color-white);
  --color-page-login-support-color: var(--color-primary);

  /*------------------------------------*\
    PAGE SLIDE
  \*------------------------------------*/

  --color-page-slide-close-button-color: var(--color-primary);
  --color-page-slide-body-text-color: var(--color-neutral-dark-60);

/*------------------------------------*\
  POPOVER
\*------------------------------------*/

  --color-popover-background-color: var(--color-white);
  --color-popover-background-color-arrow: var(--color-white);
  --color-popover-background-color-scrollbar: var(--color-primary);

  --color-popover-color-text-title: var(--color-neutral);

/*------------------------------------*\
  POPUP
\*------------------------------------*/

  --color-popup-background-color-popup: var(--color-white);
  --color-popup-background-color-popup-item-hover: var(--color-primary-light-95);
  --color-popup-background-color-popup-item-selected: var(--color-primary);
  --color-popup-background-color-popup-item-selected-hover: var(--color-primary-dark-20);
  --color-popup-background-color-popup-item-selected-disabled: var(--color-neutral-light-60);
  --color-popup-background-color-scrollbar: var(--color-primary);

  --color-popup-border-color-separator: var(--color-neutral-light-90);

  --color-popup-color-danger: var(--color-danger);
  --color-popup-color-default: var(--color-primary);
  --color-popup-color-disabled: var(--color-neutral-light-80);
  --color-popup-color-item-selected: var(--color-white);

/*------------------------------------*\
  PROGRESS
\*------------------------------------*/

--color-progress-color-info-icon: var(--color-primary);
--color-progress-color-text: var(--color-neutral);
--color-progress-color-text-success: var(--color-success);
--color-progress-color-text-error: var(--color-danger);
--color-progress-color-info: var(--color-neutral);

--color-progress-border-color-info-icon-close: var(--color-secondary);

/*------------------------------------*\
  PROGRESS BAR
\*------------------------------------*/

--color-progress-bar-background-color-bar: var(--color-tertiary-light-90);
--color-progress-bar-background-color-default: var(--color-tertiary);
--color-progress-bar-background-color-success: var(--color-success);
--color-progress-bar-background-color-error: var(--color-danger);

/*------------------------------------*\
  RADIO-GROUP
\*------------------------------------*/

  --color-radio-group-background-color: var(--color-white);
  --color-radio-group-background-color-active: var(--color-primary);
  --color-radio-group-background-color-input-disabled: var(--color-neutral-light-90);

  --color-radio-group-border-color: var(--color-neutral-light-60);
  --color-radio-group-border-color-focusable: var(--color-primary-dark-20);
  --color-radio-group-border-color-input-error: var(--color-danger);

  --color-radio-group-color-label-active: var(--color-white);
  --color-radio-group-color-text-disabled: var(--color-neutral-light-60);

/*------------------------------------*\
  RICH TEXT
\*------------------------------------*/

  --color-rich-text-body-background-color: var(--color-white);
  --color-rich-text-background-color-scrollbar: var(--color-primary-alpha-50);
  --color-rich-text-placeholder-color: var(--color-neutral-light-40);
  --color-rich-text-body-text-error: var(--color-danger);
  --color-rich-text-body-border-error: var(--color-danger);
  --color-rich-text-body-text-selected-color: var(--color-primary-light-80);

  --color-rich-text-toolbar-background-color: var(--color-rich-text-body-background-color);

/*------------------------------------*\
  SELECT
\*------------------------------------*/

  --color-select-background-color: var(--color-white);
  --color-select-background-color-disabled: var(--color-neutral-light-90);

  --color-select-background-color-item-hover: var(--color-primary-light-95); /* Vericar com equipe de UX */
  --color-select-background-color-scrollbar: var(--color-primary-alpha-50);

  --color-select-border-button: var(--color-neutral-light-60);
  --color-select-border-button-error: var(--color-danger);
  --color-select-border-button-disabled: var(--color-neutral-light-60);
  --color-select-border-button-hover: var(--color-primary);
  --color-select-border-button-focus: var(--color-primary);

  --color-select-button-disabled: var(--color-neutral-light-60);
  --color-select-button-focus: var(--color-primary);

  --color-select-color-primary: var(--color-primary);
  --color-select-color-selected: var(--color-white);
  --color-select-background-color-unselected: var(--color-white);
  --color-select-background-color-selected: var(--color-primary);
  --color-select-color-text-error: var(--color-danger);

/*------------------------------------*\
  SLIDE
\*------------------------------------*/

  --color-slide-background-color-active-circle: var(--color-primary);
  --color-slide-background-color-arrow-circle: var(--color-white);
  --color-slide-background-color-circle: var(--color-neutral-light-80);
  --color-slide-background-color-scrollbar: var(--color-primary-alpha-50);
  --color-slide-border-arrow: var(--color-primary);
  --color-slide-box-shadow-arrow-circle: var(--color-black-alpha-15);
  --color-slide-box-shadow-wrapper: var(--color-black-alpha-30);

/*------------------------------------*\
  STEPPER
\*------------------------------------*/

  --color-stepper-bar: var(--color-neutral-light-80);
  --color-stepper-circle-active: var(--color-neutral);
  --color-stepper-circle-default: var(--color-primary);
  --color-stepper-circle-disabled: var(--color-neutral-light-60);
  --color-stepper-circle-done: var(--color-success);
  --color-stepper-circle-error: var(--color-danger);
  --color-stepper-circle-icon: var(--color-white);

/*------------------------------------*\
  SWITCH
\*------------------------------------*/

  --color-switch-background-color-container-on: var(--color-primary);
  --color-switch-background-color-container-off: var(--color-neutral-light-80);
  --color-switch-background-color-container-disabled: var(--color-neutral-light-80);
  --color-switch-box-shadow-color-focusable: var(--color-primary-dark-20);

  --color-switch-background-color-button: var(--color-white);
  --color-switch-background-color-button-disabled: var(--color-neutral-light-40);

  --color-switch-color-icon-on: var(--color-primary);
  --color-switch-color-icon-off: var(--color-neutral-light-80);
  --color-switch-color-icon-disabled: var(--color-neutral-light-80);

  --color-switch-color-label: var(--color-neutral);

/*------------------------------------*\
  TAB BUTTON
\*------------------------------------*/

  --color-tab-button-box-shadow: var(--color-neutral-light-90);
  --color-tab-button-box-shadow-active: var(--color-tertiary);

  --color-tab-button-color: var(--color-primary);
  --color-tab-button-color-disabled: var(--color-neutral-light-60);

/*------------------------------------*\
  TAB DROPDOWN
\*------------------------------------*/

  --color-tab-dropdown-background-color-tab-dropdown-button-active: var(--color-primary);
  --color-tab-dropdown-background-color-tab-dropdown-button-disabled: var(--color-white);
  --color-tab-dropdown-background-color-tab-dropdown-button-hover: var(--color-primary-light-95);

  --color-tab-dropdown-color-tab-dropdown-button: var(--color-white);

/*------------------------------------*\
  TABLE
\*------------------------------------*/

--color-table-background-color-action-hover: var(--color-primary-light-95);
--color-table-background-color-actions: var(--color-white);
--color-table-background-color-active: var(--color-primary-light-95);
--color-table-background-color-detail-content: var(--color-white);
--color-table-background-color-footer-show-subtitle: var(--color-white);
--color-table-background-color-header: var(--color-white);
--color-table-background-color-overlay: var(--color-secondary-dark-60-alpha-70);
--color-table-background-color-overlay-content: var(--color-white);
--color-table-background-color-row-strip: var(--color-neutral-light-98);
--color-table-background-color-scrollbar: var(--color-primary);
--color-table-background-color-selected: var(--color-primary);
--color-table-background-color-table: var(--color-white);
--color-table-background-color-radio: var(--color-white);
--color-table-background-color-radio-active: var(--color-primary);

--color-table-border-footer-show-subtitle: var(--color-neutral-light-90);
--color-table-border-select-checkbox: var(--color-neutral-light-60);
--color-table-border-selected-checkbox: var(--color-primary);
--color-table-border-rows: var(--color-neutral-light-90);
--color-table-border-select-radio: var(--color-neutral-light-60);
--color-table-border-select-radio-focusable: var(--color-primary-dark-20);

--color-table-box-shadow-action: var(--color-black-alpha-30);
--color-table-box-shadow-checkbox: var(--color-black-alpha-15);
--color-table-box-shadow-footer: var(--color-primary-light-80);
--color-table-box-shadow-overlay-content: var(--color-black-alpha-30);
--color-table-box-shadow-header: var(--color-primary-light-80);

--color-table-color-actions: var(--color-primary);
--color-table-color-detail: var(--color-neutral-light-40);
--color-table-color-disabled: var(--color-neutral-light-80);
--color-table-color-footer-show-subtitle: var(--color-primary);
--color-table-color-header: var(--color-primary);
--color-table-color-select: var(--color-white);
--color-table-color-subtitle-text: var(--color-white);
--color-table-color-single-action-hover: var(--color-primary-dark-20);
--color-table-color-text: var(--color-neutral-dark-60);

/*------------------------------------*\
TABLE COLUMN LINK
\*------------------------------------*/

--color-table-color-link: var(--color-primary);
--color-table-color-link-disabled: var(--color-neutral-light-80);
--color-table-color-link-hover: var(--color-primary-dark-20);
--color-table-color-link-pressed: var(--color-primary-dark-40);

/*------------------------------------*\
TABLE COLUMN MANAGER
\*------------------------------------*/

--color-table-column-manager-body-color-background-scrollbar: var(--color-primary);
--color-table-column-manager-border-color: var(--color-neutral-light-90);
--color-table-column-manager-close-button-color: var(--color-primary);
--color-table-column-manager-header-title: var(--color-neutral-dark-60);
--color-table-column-manager-outline-color-focus: var(--color-secondary);

/*------------------------------------*\
  TAG
\*------------------------------------*/

  --color-tag-border-color-dashed-focus: var(--color-secondary);

  --color-tag-color: var(--color-white);
  --color-tag-color-danger: var(--color-danger);
  --color-tag-color-info: var(--color-neutral);
  --color-tag-color-success: var(--color-success);
  --color-tag-color-warning: var(--color-warning);
  --color-tag-color-text-label: var(--color-neutral);

  --color-tag-background-color-danger: var(--color-danger);
  --color-tag-background-color-info: var(--color-neutral);
  --color-tag-background-color-success: var(--color-success);
  --color-tag-background-color-warning: var(--color-warning);
  --color-tag-background-color-white:var(--color-white);

  --color-tag-inverse-border-color-01: var(--color-01);
  --color-tag-inverse-border-color-02: var(--color-02);
  --color-tag-inverse-border-color-03: var(--color-03);
  --color-tag-inverse-border-color-04: var(--color-04);
  --color-tag-inverse-border-color-05: var(--color-05);
  --color-tag-inverse-border-color-06: var(--color-06);
  --color-tag-inverse-border-color-07: var(--color-07);
  --color-tag-inverse-border-color-08: var(--color-08);
  --color-tag-inverse-border-color-09: var(--color-09);
  --color-tag-inverse-border-color-10: var(--color-10);
  --color-tag-inverse-border-color-11: var(--color-11);
  --color-tag-inverse-border-color-12: var(--color-12);

/*------------------------------------*\
  TEXTAREA
\*------------------------------------*/

  --color-textarea-background-color: var(--color-white);
  --color-textarea-border: var(--color-neutral-light-60);
  --color-textarea-background-color-disabled: var(--color-neutral-light-90);
  --color-textarea-border-color-disabled: var(--color-neutral-light-90);
  --color-textarea-border-focusable: var(--color-primary);
  --color-textarea-color-error: var(--color-danger);
  --color-textarea-color-disabled: var(--color-neutral-light-60);
  --color-textarea-text-error: var(--color-danger);
  --color-textarea-background-color-scrollbar: var(--color-primary);

/*------------------------------------*\
  TOOLBAR
\*------------------------------------*/

  --color-toolbar-background-color-badge: var(--color-danger);
  --color-toolbar-background-color-toolbar: var(--color-neutral-light-98);

  --color-toolbar-border-color-separator: var(--color-neutral-light-90);

  --color-toolbar-color-badge-text: var(--color-white);
  --color-toolbar-color-default: var(--color-primary);
  --color-toolbar-color-title: var(--color-tertiary);

/*------------------------------------*\
  TOOLTIP
\*------------------------------------*/

  --color-tooltip-background-color-balloon: var(--color-neutral);
  --color-tooltip-color-text-balloon: var(--color-white);

/*------------------------------------*\
  TREEVIEW
\*------------------------------------*/

  /** Tree View Item */
  --color-tree-view-item-border-bottom-color: var(--color-neutral-light-90);

  /** Tree View Item Header */
  --color-tree-view-item-header-button-color: var(--color-primary);
  --color-tree-view-item-header-button-focus: var(--color-secondary);
  --color-tree-view-item-header-label-text-color: var(--color-neutral);

/*------------------------------------*\
  UPLOAD
\*------------------------------------*/

  --color-upload-color-text-filename-loading: var(--color-white);

  --color-upload-background-color-disabled: var(--color-white);
  --color-upload-border-disabled: var(--color-neutral-light-60);
  --color-upload-color-disabled: var(--color-neutral-light-60);

  --color-upload-background-color-hover: var(--color-white);
  --color-upload-border-hover: var(--color-primary-dark-20);
  --color-upload-color-hover: var(--color-primary-dark-20);

  --color-upload-background-color-pressed: var(--color-white);
  --color-upload-border-pressed: var(--color-primary-dark-40);
  --color-upload-color-pressed: var(--color-primary-dark-40);

  --color-upload-color-progress: var(--color-tertiary);
  --color-upload-color-text-load: var(--color-white);
  --color-upload-background-color-success: var(--color-success);
  --color-upload-background-color-load-progress: var(--color-tertiary);
  --color-upload-background-color-error: var(--color-danger);
  --color-upload-color-text-load-waiting: var(--color-neutral);
  --color-upload-background-color-progress: var(--color-tertiary-light-90);

  --color-upload-drag-drop-overlay-icon: var(--color-primary-alpha-50);
  --color-upload-drag-drop-overlay-text: var(--color-primary);
  --color-upload-drag-drop-area-overlay-background-color: var(--color-white);

  --color-upload-drag-drop-area-icon: var(--color-neutral-light-80);
  --color-upload-drag-drop-area-label-text: var(--color-neutral);
  --color-upload-drag-drop-area-select-files-text: var(--color-primary);
  --color-upload-drag-drop-area-border: var(--color-neutral-light-60);
  --color-upload-drag-drop-area-border-primary: var(--color-primary);
  --color-upload-drag-drop-area-border-error: var(--color-danger);

  --color-upload-drag-drop-area-background-color-disabled: var(--color-neutral-light-90);
  --color-upload-drag-drop-area-color-disabled: var(--color-neutral-light-60);

  --color-upload-file-restrictions-color-text: var(--color-neutral);

/*------------------------------------*\
  WIDGET
\*------------------------------------*/

  --color-widget-color-action-active: var(--color-primary-dark-20);
  --color-widget-color-action-hover: var(--color-primary-dark-20);
  --color-widget-color-action: var(--color-primary);
  --color-widget-color-default: var(--color-neutral);
  --color-widget-color-title-action: var(--color-primary);
  --color-widget-color-widget-primary: var(--color-white);

  --color-widget-background-color: var(--color-white);
  --color-widget-primary-background-color: var(--color-tertiary);

  --border-widget-border-no-shadow: solid 1px var(--color-neutral-light-90);
  --color-widget-border-color-footer: var(--color-neutral-light-90);
  --color-widget-border-color-footer-primary: var(--color-white-alpha-30);

  --color-widget-background-color-disabled: var(--color-neutral-light-90);
  --color-widget-background-color-scroll-disabled: var(--color-neutral-light-40);
  --color-widget-color-disabled: var(--color-neutral-light-40);

}
