@import '../../../../../styles/scss/break-points';

// INICIO *************************
.banner {
  position: relative;
  z-index: 5;
  background-image: url('../../../../../assets/site/inicio-banner.png');
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

.texto {
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--white);
  text-shadow: 0 5px 5px rgba(var(--black-rgb), 0.5);

  h1,
  h2 {
    padding: 0 !important;
    color: var(--white) !important;
  }

  h2 {
    font-weight: 400 !important;
    font-size: 1.5em !important;
  }
}

.btn-seta {
  position: absolute;
  bottom: 1em;
  left: calc(50% - 10px);
  background-color: transparent;
  animation: animacaoSeta 1s infinite;
}

@keyframes animacaoSeta {
  0% {
    bottom: 1em;
  }
  50% {
    bottom: 2em;
  }
  100% {
    bottom: 1em;
  }
}

// SOBRE *************************
.sobre {
  padding: 2em 1em;
  background-color: var(--grey-5);
}

// SERVICOS *************************
.servicos {
  padding: 2em 1em;
  position: relative;
  background-color: var(--grey-5);
}

.servicos-lista {
  display: flex;
  flex-direction: column;

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $sm) {
  .banner {
    height: 100vh;
  }
}

@media (min-width: $md) {
  .texto {

    h1, h2 {
      padding: 0 !important;
      font-size: 4.5em !important;
    }

    h2 {
      font-size: 3em !important;
    }
  }

  .servicos-lista {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;

    li {
      margin: 1em;
    }

    &::before {
      content: '';
      height: 400px;
      width: 100%;
      background-color: var(--secondary-1);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: $lg) {
  .banner {
    margin-top: -5.5em;
  }

  .sobre,
  .servicos {
    padding: 3em 1em;
  }
}
