@import '../../../../../styles/scss/break-points';

.box {
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(var(--black-rgb), 0.25);
  text-align: center;
  padding: 15em 1.5em 1.5em 1.5em;
  background-position: top center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s all;
  }

  &::before {
    background-image: linear-gradient(180deg, transparent , var(--primary-1));
    opacity: 1;
  }

  &::after {
    background-image: linear-gradient(180deg, transparent , var(--secondary-1));
    opacity: 0;
  }

  &:hover {

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  .titulo {
    color: var(--white) !important;
  }

  .titulo,
  .btn {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: $md) {
  .box {
    padding: 20em 2.5em 1.5em 2.5em;
    transition: 0.5s all;

    &:hover {
      transform: translateY(-2em) scale(0.95);
      box-shadow: 0px 20px 15px rgba(var(--black-rgb), 0.5);
    }
  }
}
