<a routerLink="{{ SITE_CONFIG.pathFront }}/{{ rota }}">
  <div #box class="box">
    <h2 class="titulo">{{ titulo }}</h2>
    <button type="button" class="btn btn-outline btn-white">Saiba mais</button>
  </div>
</a>
