@import '../../../../../styles/scss/break-points';

header {
  padding: 3em 0.5em 2em 0.5em;
  background-color: var(--grey-5);
  box-shadow: 0 4px 4px rgba(var(--black-rgb), 0.1);
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, var(--primary-1) , var(--secondary-1));
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 65%;
}

.btn-entrar {
  position: absolute;
  top: 1.25em;
  right: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;

  img {
    width: 1em;
    margin-right: 0.25em;
  }
}

.btn-menu {
  position: fixed;
  top: 1.5em;
  left: 1em;
  width: 2em;
  z-index: 60;
  background-color: transparent;
}

.menu {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--secondary-rgb-1), 0.95);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  opacity: 0;
  transform: translateX(-100vw);

  a {
    padding: 0.75em;
    display: block;
    color: var(--white) !important;
    font-size: 1.75em;
    text-align: center;
  }
}

.menu-ativo {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: $lg) {
  header {
    padding: 1em 1em 2.5em 1em;
    border-radius: 0 0 50% 50%;
  }

  .container {
    position: relative;
  }

  .d-flex {
    flex-direction: row;
    padding-top: 1em;
  }

  .btn-entrar {
    top: 0;
    right: 0;
  }

  .btn-menu {
    display: none;
  }

  .logo {
    flex: 0.75;
  }

  .menu {
    flex: 2;
    opacity: 1;
    transform: translateX(0);
    position: relative;
    height: auto;
    background-color: transparent;

    ul {
      width: 100%;
      text-align: right;

      li {
        display: inline-block;
        padding: 1em 2em;

        &:last-child {
          padding-right: 0;
        }

        a {
          font-size: 1.25em;
          color: var(--secondary-1) !important;
          padding: 0;

          &:hover {
            color: var(--primary-1) !important;
          }
        }
      }
    }
  }
}

@media (min-width: $xl) {
  .logo {
    flex: 1;
  }
}
