<header id="header">
  <div class="container">
    <a class="btn-entrar" [routerLink]="AUTH_CONFIG.pathFront">
      <img src="assets/site/icon-entrar.svg">
      <span>{{ usuarioEstaLogado ? (ADMIN_CONFIG.nome) : 'Entrar' }}</span>
    </a>

    <div class="d-flex">
      <div class="logo">
        <a href="/">
          <img src="assets/site/logo-primary.svg" alt="{{ APP_CONFIG.nome }}">
        </a>
      </div>
      <nav class="menu" [ngClass]="{ 'menu-ativo' : menuAtivo }">
        <ul>
          <li><a #linkOnePage href="#header">Início</a></li>
          <li><a #linkOnePage href="#sobre">Sobre a Empresa</a></li>
          <li><a #linkOnePage href="#servicos">Nossos Serviços</a></li>
          <li><a routerLink="{{ SITE_CONFIG.pathFront }}/seja-um-parceiro" (click)="mostraMenu()">Seja um Parceiro</a></li>
        </ul>
      </nav>
    </div>

    <button type="button" class="btn-menu" (click)="mostraMenu()">
      <img src="assets/site/icon-menu.svg">
    </button>
  </div>
</header>
