<div class="po-wrapper">
  <po-menu
    [p-menus]="menu"
    [p-logo]="logo"
    [p-short-logo]="logoSimbolo"
    p-filter="true"
    p-collapsed="false">

    <ng-template p-menu-header-template>
      <po-button
        p-label="voltar ao site"
        p-small="true"
        p-type="link"
        p-icon="po-icon-first-page"
        (p-click)="voltarAoSite()">
      </po-button>
    </ng-template>
  </po-menu>

  <po-toolbar
    [p-profile]="profile"
    [p-profile-actions]="toolbarActions"
    p-title="{{ ADMIN_CONFIG.nome }} - {{ APP_CONFIG.nome }}">
  </po-toolbar>

  <router-outlet></router-outlet>
</div>
