@import '../../../../styles/scss/break-points';

.links {
  width: 100%;
  margin-top: 0.5em;

  ul {
    display: flex;
    width: 100%;
    justify-content: center;

    li {
      padding: 0.25em;
      font-size: 0.75em;
    }
  }
}

@media (min-width: $md) {
  .links {

    ul {

      li {
        font-size: 1em;
        padding: 0.55em;
      }
    }
  }
}

@media (min-width: $xl) {
  .links {

    ul {

      li {
        padding: 0.85em;
      }
    }
  }
}
