<form [formGroup]="form">
  <div class="po-row">
    <div class="po-sm-12 po-md-4">
      <po-password
        formControlName="password"
        p-clean="true"
        p-auto-focus="true"
        p-label="Senha atual"
        p-placeholder="Informe a senha atual"
        p-auto-focus="true"
        p-minlength="8"
        p-error-pattern="Informe no mínimo 8 caracteres">
      </po-password>
    </div>

    <div class="po-sm-12 po-md-4">
      <po-password
        formControlName="newPassword"
        p-clean="true"
        p-label="Nova senha"
        p-placeholder="Informe uma nova senha"
        p-minlength="8"
        p-error-pattern="Informe no mínimo 8 caracteres">
      </po-password>
    </div>

    <div class="po-sm-12 po-md-4">
      <po-password
        formControlName="confirmPassword"
        p-clean="true"
        p-label="Confirme a senha"
        p-placeholder="Confirme a nova senha"
        p-minlength="8"
        p-error-pattern="Informe no mínimo 8 caracteres">
      </po-password>
    </div>
  </div>
</form>
