<div id="auth">
  <div class="flex">

    <div class="image"></div>

    <div class="box-form">
      <div>
        <a routerLink="{{ APP_CONFIG.pathFront }}">
          <img class="logo" src="assets/site/logo-secondary.svg" alt="{{ APP_CONFIG.nome }}">
        </a>
      </div>

      <div class="form">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
