@import '../../../styles/scss/break-points';

#auth {
  background-color: var(--grey-5);
}

.image {
  display: none;
}

.logo {
  margin-bottom: 2em;
  width: 280px;
}

.box-form {
  background-color: var(--grey-5);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .form {
    width: 90%;
  }
}

@media (min-width: $sm) {
  .box-form {

    .form {
      width: 60%;
    }
  }
}

@media (min-width: $md) {
  .box-form {

    .form {
      width: 60%;
    }
  }
}

@media (min-width: $lg) {
  .flex {
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .image {
    display: block;
    flex: 1;
    background-color: var(--secondary-1);
    background-image: url('../../../assets/site/bg-auth.png');
    background-position: center center;
    background-size: cover;
    box-shadow: inset -10px 0px 40px rgba(var(--black-rgb), 0.5);
  }

  .box-form {
    flex: 1;

    .form {
      width: 90%;
    }
  }
}

@media (min-width: $xl) {
  .box-form {

    .form {
      width: 90%;
      max-width: 500px;
    }
  }
}
