<form [formGroup]="form">
  <div class="po-row">
    <div class="po-sm-12">
      <po-input
        formControlName="login"
        p-clean="true"
        p-icon="po-icon-user"
        p-placeholder="Login"
        p-label="Login"
        p-minlength="2"
        p-error-pattern="Informe no mínimo 2 caracteres">
      </po-input>
    </div>
    <div class="po-sm-12">
      <po-input
        formControlName="nome"
        p-clean="true"
        p-icon="po-icon-user"
        p-auto-focus="true"
        p-label="Nome"
        p-placeholder="Informe seu nome"
        p-minlength="2"
        p-error-pattern="Informe no mínimo 2 caracteres">
      </po-input>
    </div>
    <div class="po-sm-6">
      <po-email
        formControlName="email"
        p-clean="true"
        p-label="E-mail"
        p-placeholder="Informe seu e-mail"
        p-error-pattern="Informe um e-mail válido">
      </po-email>
    </div>
    <div class="po-sm-6">
      <po-input
        formControlName="telefone"
        p-clean="true"
        p-icon="po-icon-device-smartphone"
        p-label="Telefone"
        p-placeholder="Informe seu telefone"
        p-mask="(99) 9 9999-9999">
      </po-input>
    </div>
    <div class="po-sm-6">
      <po-select
        formControlName="estado"
        p-label="Estado"
        p-placeholder="Selecione"
        [p-options]="estados"
        [p-disabled]="estados.length <= 0">
      </po-select>
    </div>
    <div class="po-sm-6">
      <po-select
        formControlName="municipio"
        p-label="Cidade"
        p-placeholder="Selecione"
        [p-options]="municipios"
        [p-disabled]="municipios.length <= 0">
      </po-select>
    </div>
  </div>
</form>
