<po-page-default
  [p-title]="pageTitle"
  [p-breadcrumb]="breadcrumb">

  <po-widget class="po-sm-12 po-md-6 po-lg-3 po-mb-2">
    <div class="po-row po-text-center">
      <div class="po-sm-12">
        <span class="po-icon po-icon-document-filled"></span>
      </div>
      <div class="po-sm-12">
        <div class="po-font-subtitle">Meu cadastro</div>
        <po-button
          p-type="link"
          p-small="true"
          p-label="Acessar"
          (p-click)="irParaMeuCadastro()">
        </po-button>
      </div>
    </div>
  </po-widget>

  <po-widget class="po-sm-12 po-md-6 po-lg-3 po-mb-2">
    <div class="po-row po-text-center">
      <div class="po-sm-12">
        <span class="po-icon po-icon-lock"></span>
      </div>
      <div class="po-sm-12">
        <div class="po-font-subtitle">Alterar senha</div>
        <po-button
          p-type="link"
          p-small="true"
          p-label="Acessar"
          (p-click)="irParaAlterarSenha()">
        </po-button>
      </div>
    </div>
  </po-widget>

</po-page-default>
