@import '../../../../../styles/scss/break-points';

.box {
  position: fixed;
  bottom: 1em;
  left: 10%;
  width: 80%;
  z-index: 5;
  transition: 0.5s all;
  transform: translateY(0);
}

.box.esconder-box {
  transform: translateY(170px);
}

.imagem {
  padding: 2em;
  border-radius: 20px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 5;
}

.agendar {
  position: relative;
  z-index: 4;
  padding: 3em 0.75em 1em 0.75em;
  background-color: var(--primary-1);
  margin-top: -2em;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
    margin-right: 0.5em;
  }
}

:host ::ng-deep .btn-agendar {
  font-size: 0.60em;
}

.btn-esconder {
  position: absolute;
  left: calc(50% - 15px);
  top: -1em;
  font-size: 1em;
  z-index: 6;
  background-color: var(--white);
  color: var(--primary-1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--grey-5) !important;
  box-shadow: 0px 4px 4px rgba(var(--black-rgb), 0.25);
}

@media (min-width: $md) {
  .box {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;
  }

  .box.esconder-box {
    transform: translateY(0);
  }

  .imagem {
    height: 365px;
    background-position: top center;
  }

  .btn-esconder {
    display: none;
  }

  .agendar {

    img {
      width: 50px;
    }
  }

  :host ::ng-deep .btn-agendar {
    font-size: initial;
  }

}
