<div class="box" [ngClass]="{ 'esconder-box' : esconderBox }">
  <button class="btn-esconder" type="button" (click)="esconder()">
    {{ esconderBox ? '⋀' : '⋁' }}
  </button>

  <div #boxImagem class="imagem"></div>
  <a routerLink="{{ CONSULTA_CONFIG.pathFrontAdmin }}/agendar">
    <div class="agendar">
      <img src="assets/site/icon-agendar.svg" alt="Agendar">
      <button type="button" class="btn btn-outline btn-sm btn-white btn-agendar">Agendar consulta agora</button>
    </div>
  </a>
</div>
