<div class="container container-interna">
  <h1>{{ titulo }}</h1>
  <h3>Descrição do serviço</h3>

  <div class="flex">
    <div class="texto">
      <ng-content select="[texto]"></ng-content>
    </div>

    <div class="imagem">
      <ng-content select="[imagem]"></ng-content>
    </div>
  </div>
</div>
