@import '../../../../../styles/scss/break-points';

h3 {
  color: var(--secondary-1) !important;
}

@media (min-width: $md) {
  .flex {
    display: flex;

    .texto {
      flex: 1;
      margin-right: 3em;
    }

    .imagem {
      flex: 1;
    }
  }
}

@media (min-width: $lg) {
  .flex {

    .texto {
      flex: 2;
    }
  }
}
