@import '../../../styles/scss/break-points';

#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.scroll-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 5;
  background-color: transparent;
  border: none;
  transition: 0.5s all;
  box-shadow: 0 5px 5px rgba(var(--black-rgb), 0.25);
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100px);

  img {
    width: 2em;
    height: 2em;
    background-color: var(--white);
  }
}

.scroll-top-active {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: $md) {
  .scroll-top {

    img {
      width: 3em;
      height: 3em;
    }
  }
}
