<div id="site">
  <app-site-header></app-site-header>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
  <app-site-footer></app-site-footer>

  <button
    type="button"
    class="scroll-top"
    (click)="scrollTop()"
    [ngClass]="{ 'scroll-top-active' : scrollTopActive }">
    <img src="assets/site/scrollTop.svg" alt="ScrollTop">
  </button>
</div>
