<app-site-servico [titulo]="'Benefícios previdenciários'">
  <div texto>
    <div class="paragrafo">
      <h6>APOSENTADORIA POR TEMPO DE CONTRIBUIÇÃO</h6>
      <p>A aposentadoria por tempo de contribuição é concedida a segurados após o cumprimento do tempo de contribuição, mas há casos em que este tempo pode ser reduzido, de acordo com a situação real da pessoa.</p>

      <h6>APOSENTADORIA POR IDADE</h6>
      <p>A aposentadoria do INSS por idade pode ser requerida por homens e mulheres após este atingirem a idade legal e cumprirem o tempo mínimo de contribuição.</p>

      <h6>APOSENTADORIA POR INVALIDEZ</h6>
      <p>É concedida para trabalhadores que, por doença ou acidente, ficaram incapacitados de continuar trabalhando, na antiga atividade ou outra. No caso de doença, o trabalhador deve ter um mínimo de contribuições mensais. Para acidentes, basta estar inscrito no INSS.</p>

      <h6>APOSENTADORIA ESPECIAL</h6>
      <p>A aposentadoria especial é concedida a segurados que tenham trabalhado em condições que ameaçavam sua saúde ou integridade física. Com o benefício, o tempo mínimo de trabalho exigido pode ser reduzido.</p>

      <h6>AUXÍLIO-ACIDENTE</h6>
      <p>É pago ao trabalhador que sofre um acidente e fica com sequelas que reduzem sua capacidade de trabalho, mas que não o incapacitam para o desempenho de qualquer atividade.</p>

      <h6>AUXÍLIO-DOENÇA</h6>
      <p>
        O auxílio-doença é pago a segurados que ficam impedidos de trabalhar por mais de 15 dias devido à doença ou acidente.
        <br>Caso ele não possa retornar ao mesmo trabalho, será encaminhado para um programa de reabilitação profissional, para ser treinado em uma nova atividade.
        <br>Se não puder voltar a trabalhar pode solicitar a aposentadoria por invalidez.
      </p>

      <h6>AUXÍLIO-DOENÇA ACIDENTÁRIO</h6>
      <p>
        É a mesma situação do auxílio-doença, mas ocorre quando o acidente ou a doença do segurado foi ocasionado no trabalho.
        <br>A diferença é que, nesse caso, o segurado tem direito ao depósito do FGTS enquanto estiver afastado e a estabilidade de um ano após retornar ao trabalho.
      </p>

      <h6>PENSÃO POR MORTE</h6>
      <p>
        A pensão por morte é concedida à família do trabalhador após sua morte.
        <br>A única condição é que o trabalhador esteja na condição de segurado no momento da sua morte. Caso ele tenha perdido a qualidade de segurado, os dependentes podem pedir o benefício desde que ele tivesse cumprido os requisitos para se aposentar ou que tivesse direito à aposentadoria por invalidez enquanto era segurado.
      </p>

      <h6>SALÁRIO-MATERNIDADE</h6>
      <p>
        O salário-maternidade é pago as trabalhadoras no momento do parto ou por ocasião da adoção de um filho.
        <br>Pode fazer jus ao beneficio também em casos de aborto espontâneo ou nos casos previstos em lei (estupro ou risco de vida para mãe).
      </p>
    </div>
  </div>

  <div imagem>
    <app-servico-interna-imagem [imagem]="'beneficios-previdenciarios.png'"></app-servico-interna-imagem>
  </div>
</app-site-servico>
