<form [formGroup]="form">
  <div class="po-row">
    <div class="po-sm-12">
      <po-input
        formControlName="nome"
        p-clean="true"
        p-icon="po-icon-user"
        p-auto-focus="true"
        p-placeholder="Nome"
        p-minlength="2"
        p-error-pattern="Informe no mínimo 2 caracteres">
      </po-input>
    </div>
    <div class="po-sm-6">
      <po-email
        formControlName="email"
        p-clean="true"
        p-placeholder="E-mail"
        p-error-pattern="Informe um e-mail válido">
      </po-email>
    </div>
    <div class="po-sm-6">
      <po-input
        formControlName="telefone"
        p-clean="true"
        p-icon="po-icon-device-smartphone"
        p-placeholder="Telefone"
        p-mask="(99) 9 9999-9999">
      </po-input>
    </div>
    <div class="po-sm-6">
      <po-select
        formControlName="estado"
        p-placeholder="Estado"
        [p-options]="estados"
        [p-disabled]="estados.length <= 0">
      </po-select>
    </div>
    <div class="po-sm-6">
      <po-select
        formControlName="municipio"
        [p-placeholder]="placeholderCidade"
        [p-options]="municipios"
        [p-disabled]="municipios.length <= 0">
      </po-select>
    </div>

    <div class="po-sm-12">
      <po-divider p-label="Dados de acesso"></po-divider>
    </div>
    <div class="po-sm-6">
      <po-input
        formControlName="login"
        p-clean="true"
        p-icon="po-icon-user"
        p-placeholder="Login"
        p-minlength="2"
        p-error-pattern="Informe no mínimo 2 caracteres">
      </po-input>
    </div>
    <div class="po-sm-6">
      <po-password
        formControlName="password"
        p-clean="true"
        p-icon="po-icon-lock"
        p-placeholder="Senha"
        p-minlength="8"
        p-error-pattern="Informe no mínimo 8 caracteres">
      </po-password>
    </div>
  </div>
</form>
