@import '../../../../../styles/scss/break-points';

footer {
  background-color: var(--grey-5);
  padding: 1.5em 1em;
  text-align: center;
  box-shadow: 0 -4px 4px rgba(var(--black-rgb), 0.1);
  position: relative;
  z-index: 1;
}

.logo {
  display: inline-block;
  text-align: center;
  margin-bottom: 1.5em;
}

.contatos {

  span {
    margin-right: 1em;
  }

  a {
    margin-left: 1em;
  }
}

.copy {
  font-size: 0.8em;
  padding-bottom: 0 !important;
}
