<footer>
  <div class="container">
    <a href="/" class="logo">
      <img src="assets/site/logo-secondary.svg" alt="{{ APP_CONFIG.nome }}">
    </a>

    <address>Av. Apucarana, 3738, CEP 87.501-230 - Umuarama-Paraná</address>

    <p class="contatos">
      <span>(44) 9 9999-9999</span> |
      <a href="mailto:contato@lwy.com.br">contato@lwy.com.br</a>
    </p>

    <p class="copy">
      ©{{ anoCorrente }} - Todos os direitos reservados à {{ APP_CONFIG.nome }} - Benefícios e revisões previdenciárias
    </p>
  </div>
</footer>
